<a href="https://colab.research.google.com/github/voigtjessica/API_TDP/blob/master/dados_orcamento_federal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import requests
import json
import numpy as np
import re

Fazendo uma consulta a API do orçamento: qual foi a despesa do ano de 2019 do FNDE?

In [0]:
serie_2019 = requests.get('http://www.transparencia.gov.br/api-de-dados/despesas/por-orgao?ano=2019&orgaoSuperior=26000&orgao=26298&pagina=1', verify=True).json()
df_serie_2019 = pd.DataFrame(serie_2019)

Uma tabelinha

In [0]:
df_serie_2019

    ano  ...               pago
0  2019  ...  36.128.565.633,98

[1 rows x 8 columns]

Se eu quero olhar a eficiência de um órgão, eu devo olhar para a etapa liquidado, que é equivalente ao que foi, de fato, executado.
Total liquidado do que foi empenhado do FNDE:

In [0]:
print(df_serie_2019.dtypes)

Preciso retirar os pontos e virgulas para transformar meus campos de despesa em numeros. Vou fazer isso em todas as colunas, já que não tem prejuízo em outras colunas.

In [96]:
df_serie_2019 = df_serie_2019.replace({'\.':'', ',':'.'},  regex=True)
df_serie_2019

    ano  ...            pago
0  2019  ...  36128565633.98

[1 rows x 8 columns]

Eu tenho que colocar regex = TRUE senão ele não me entende.

Agora, se eu quisesse fazer uma operação de cada vez:

In [0]:
#df_serie_2019 = df_serie_2019.replace('\.', '', regex=True)
#df_serie_2019 = df_serie_2019.replace(',', '.', regex=True)
#df_serie_2019

Se eu quisesse mudar apenas o empenhado

In [0]:
#df_serie_2019 = df_serie_2019.replace({'empenhado': '\.'}, {'empenhado': ''}, regex=True)
#df_serie_2019 = df_serie_2019.replace({'empenhado': ','}, {'empenhado': '.'}, regex=True)
#df_serie_2019

Se eu quisesse mudar o liquidado, substituindo de uma só vez os pontos e vírgulas:

In [0]:
# df_serie_2019.replace(
#     to_replace={'liquidado': ['\.', ',']} , 
#     value={'liquidado': ['', '.']} , 
#     regex=True, inplace=True )
# df_serie_2019

O inplace = TRUE significa que eu já estou sobrescrevendo os meus dados. Ou seja, eu náo preciso atribuir no começo
Ok, agora eu quero mudar o type das minhas colunas relacionadas à despesa

In [100]:
df_serie_2019['empenhado'] = df_serie_2019.empenhado.astype('float64')
df_serie_2019['liquidado'] = df_serie_2019.liquidado.astype('float64')
df_serie_2019['pago'] = df_serie_2019.pago.astype('float64')

df_serie_2019

    ano  ...          pago
0  2019  ...  3.612857e+10

[1 rows x 8 columns]

Calculando quando da despesa empenhada foi liquidada, o que me indica a capacidade de planejamento do governo federal

In [102]:
df_serie_2019.liquidado/df_serie_2019.empenhado

0    0.745735
dtype: float64